<!--
  Generated template for the FoundationOrgOptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>foundation-OrgOptions</ion-title>
  </ion-navbar>

</ion-header>
 -->

<!-- <ion-content padding> -->
  <p style="text-align: center;font-size: 16px" (click)="ShowGroupUsers()" >Group Info </p>
  <p style="text-align: center;font-size: 16px" (click)="BtnLogoutClick()" >Clear Chat </p>
  <p style="text-align: center;font-size: 16px" (click)="MuteNoti()" >Mute Notification </p>
<!-- </ion-content> -->
