<ion-header>
  <ion-navbar color="secondary">
    <!-- <div>
      <div style="width:30%;margin-left:6%; float:left">
        <ion-title>
          Chat Box
        </ion-title>
      </div>
      <div style="width:19%; float:right">
        <ion-title>
          <ion-icon name="search"></ion-icon>
        </ion-title>
      </div>
    </div>
     -->

    <ion-grid>
      <ion-row *ngIf="isSearch == 0">
        <ion-col col-8 (click)="VisitWebsite()">
          <ion-title style="text-align: center">
            View All Subjects
          </ion-title>
        </ion-col>
        <!-- <ion-col col-2></ion-col> -->
        <!-- <ion-col col-1>
          <ion-icon style="color: white; font-size: 20px" (click)="isSearch = 1" name="search"></ion-icon>
        </ion-col> -->
        <!-- <ion-col col-1>
        </ion-col> -->
        <ion-col style="text-align-last: right" col-3 (click)="BtnLogoutClick()">
          <h6 style="color: white">Logout</h6>
          <!-- <ion-icon style="color: white; font-size: 20px" (click)="Logout()" name="exit"></ion-icon> -->
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isSearch == 1">
        <ion-searchbar class="FotnStyle" style="background: none;" [animated]="true" [autocorrect]="on" [autocomplete]="on" [showCancelButton]="true"
          (ionCancel)="isSearch = 0">
        </ion-searchbar>
      </ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>



<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let loop of BindArray">
      <!-- loop.isadminview != 1 ||  -->


      <!-- All Groups --> 
      <ion-item *ngIf="loop.chatid == 0 && loop.groupid != 4">
        <ion-avatar item-start>
          <img (click)="presentModal(loop.dp,loop.groupid)" [src]="loop.dp" onerror="if (this.src != 'https://www.rajputfoundation.org/image/logo2.png') this.src = 'https://www.rajputfoundation.org/image/logo2.png'">
          <!-- onerror="if (this.src != 'https://www.rajputfoundation.org/image/logo2.png') this.src = 'https://www.rajputfoundation.org/image/logo2.png'" -->
        </ion-avatar>
        <ion-avatar (click)="GotoDetails(loop)" item-end>
          <p style="font-size:10px; text-align:center">{{loop.Time_Date}}</p>
          <div *ngIf="loop.UnreadMsgQun > 0" style="width:50%; border-radius:50%; background-color:#005e54; height:20px; justify-content: center;">
            <p style="color:white; font-size:8px;text-align:center; padding-top:20%">{{loop.UnreadMsgQun}}</p>
          </div>
        </ion-avatar>
        <h2 (click)="GotoDetails(loop)">{{loop.groupname}}</h2>
        <h4 (click)="GotoDetails(loop)" *ngIf="loop.groupid == 1">({{this.ObjHelper.VillageCountHelper}}) Members in Your Village</h4>
        <h4 (click)="GotoDetails(loop)" *ngIf="loop.groupid == 2">({{this.ObjHelper.AreaCountHelper}}) Members in Your Area</h4>
        <h4  (click)="GotoDetails(loop)" *ngIf="loop.groupid == 3">({{this.ObjHelper.CityCountHelper}}) Members in Your City</h4>
        <h4  (click)="GotoDetails(loop)" *ngIf="loop.groupid == 4">({{this.ObjHelper.AdministratorCountHelper}}) Members in Administrator</h4>
        <p (click)="GotoDetails(loop)">
          <!-- <span>
            <ion-icon *ngIf="loop.lastmessage == 'Send'" name="checkmark"></ion-icon>
            <ion-icon *ngIf="loop.lastmessage == 'Recieved'" name="done-all"></ion-icon>
            <ion-icon *ngIf="loop.lastmessage == 'Read'" style="color:blue" name="done-all"></ion-icon>
          </span>{{loop.lastmessage}}</p> -->
      </ion-item>
      <!-- Administrator -->
      <ion-item *ngIf="loop.chatid == 0 && loop.groupid == 4 && this.ObjHelper.isAdmin == 1">
        <ion-avatar item-start>
          <img (click)="presentModal(loop.dp,loop.groupid)" [src]="loop.dp" onerror="if (this.src != 'https://www.rajputfoundation.org/image/logo2.png') this.src = 'https://www.rajputfoundation.org/image/logo2.png'">
          <!-- onerror="if (this.src != 'https://www.rajputfoundation.org/image/logo2.png') this.src = 'https://www.rajputfoundation.org/image/logo2.png'" -->
        </ion-avatar>
        <ion-avatar (click)="GotoDetails(loop)" item-end>
          <p style="font-size:10px; text-align:center">{{loop.Time_Date}}</p>
          <div *ngIf="loop.UnreadMsgQun > 0" style="width:50%; border-radius:50%; background-color:#005e54; height:20px; justify-content: center;">
            <p style="color:white; font-size:8px;text-align:center; padding-top:20%">{{loop.UnreadMsgQun}}</p>
          </div>
        </ion-avatar>
        <h2 (click)="GotoDetails(loop)">{{loop.groupname}}</h2>
        <h4 (click)="GotoDetails(loop)" *ngIf="loop.groupid == 1">({{VillageCount}}) Members in Your Village</h4>
        <h4 (click)="GotoDetails(loop)" *ngIf="loop.groupid == 2">({{AreaCount}}) Members in Your Area</h4>
        <h4  (click)="GotoDetails(loop)" *ngIf="loop.groupid == 3">({{CityCount}}) Members in Your City</h4>
        <h4  (click)="GotoDetails(loop)" *ngIf="loop.groupid == 4">({{this.ObjHelper.AdministratorCountHelper}}) Members in Administrator</h4>
        <p (click)="GotoDetails(loop)">
          <!-- <span>
            <ion-icon *ngIf="loop.lastmessage == 'Send'" name="checkmark"></ion-icon>
            <ion-icon *ngIf="loop.lastmessage == 'Recieved'" name="done-all"></ion-icon>
            <ion-icon *ngIf="loop.lastmessage == 'Read'" style="color:blue" name="done-all"></ion-icon>
          </span>{{loop.lastmessage}}</p> -->
      </ion-item>


      <!-- All ORG  -->
      <ion-item *ngIf="loop.chatid == -1 && loop.HeadingCount == 0" no-lines>
          <h2 style="text-align: center; color : #005e54">Rajput Tanzeemien</h2>
          <!-- <h1 style="display: none">{{Heading++}}</h1> -->
      </ion-item>
      <ion-item *ngIf="loop.chatid == -1">
        <ion-avatar item-start>
          <img (click)="presentModal(loop,loop.chatid)" [src]="loop.dp" onerror=" this.src != 'https://www.rajputfoundation.org/image/logo2.png'" >
          <!-- onerror="if (this.src != 'https://www.rajputfoundation.org/image/logo2.png') this.src = 'https://www.rajputfoundation.org/image/logo2.png'" -->
        </ion-avatar>
        <ion-avatar (click)="GotoDetails(loop)" item-end>
          <p style="font-size:10px; text-align:center">{{loop.Time_Date}}</p>
          <div *ngIf="loop.UnreadMsgQun > 0" style="width:50%; border-radius:50%; background-color:#005e54; height:20px; justify-content: center;">
            <p style="color:white; font-size:8px;text-align:center; padding-top:20%">{{loop.UnreadMsgQun}}</p>
          </div>
        </ion-avatar>
        <h2 (click)="GotoDetails(loop)">{{loop.groupname}}</h2>
        <h4 (click)="GotoDetails(loop)" >({{loop.OrgUserCount}}) Members in Your Org Table</h4>        
        <p (click)="GotoDetails(loop)">
          <span>
            <ion-icon *ngIf="loop.lastmessage == 'Send'" name="checkmark"></ion-icon>
            <ion-icon *ngIf="loop.lastmessage == 'Recieved'" name="done-all"></ion-icon>
            <ion-icon *ngIf="loop.lastmessage == 'Read'" style="color:blue" name="done-all"></ion-icon>
          </span>{{loop.lastmessage}}</p>
      </ion-item>


      <!-- All Chats -->
      <ion-item *ngIf="loop.chatid > 0">
        <ion-avatar item-start>
          <img (click)="presentModal(loop.dp,groupid)" [src]="loop.dp" onerror="if (this.src != 'https://www.rajputfoundation.org/image/logo2.png') this.src = 'https://www.rajputfoundation.org/image/logo2.png'">
          <!-- onerror="if (this.src != 'https://www.rajputfoundation.org/image/logo2.png') this.src = 'https://www.rajputfoundation.org/image/logo2.png'" -->
        </ion-avatar>
        <ion-avatar (click)="GotoDetails(loop)" item-end>
          <p class="animated infinite headShake delay-2s" style="font-size:10px; text-align:center">Swap >></p>
          <div *ngIf="loop.UnreadMsgQun > 0" style="width:50%; border-radius:50%; background-color:#005e54; height:20px; justify-content: center;">
            <p style="color:white; font-size:8px;text-align:center; padding-top:20%">{{loop.UnreadMsgQun}}</p>
          </div>
        </ion-avatar>
        <h2 (click)="GotoDetails(loop)">{{loop.groupname}}</h2>
        <p (click)="GotoDetails(loop)">
          <span>
            <ion-icon *ngIf="loop.lastmessage == 'Send'" name="checkmark"></ion-icon>
            <ion-icon *ngIf="loop.lastmessage == 'Recieved'" name="done-all"></ion-icon>
            <ion-icon *ngIf="loop.lastmessage == 'Read'" style="color:blue" name="done-all"></ion-icon>
          </span>{{loop.lastmessage}}</p>
      </ion-item>

      <ion-item-options *ngIf="loop.chatid > 0" (click)="DeleteshowConfirm(loop)" side="right">
        <button ion-button style="background-color: red; padding-left: 20px; padding-right:20px">
          &nbsp;&nbsp;&nbsp;
          <ion-icon name="trash"></ion-icon>&nbsp;&nbsp;&nbsp;
        </button>
      </ion-item-options>


      <!-- Administration -->
      <!-- <ion-item *ngIf="loop.isadminview == 1 && ObjHelper.isAdmin == 1">
        <ion-avatar item-start>
          <img (click)="presentModal(loop.dp)" [src]="loop.dp" onerror="this.src = 'https://www.rajputfoundation.org/image/logo2.png'">
        </ion-avatar>
        <ion-avatar (click)="GotoDetails(loop)" item-end>
          <div *ngIf="loop.UnreadMsgQun > 0" style="width:50%; border-radius:50%; background-color:#005e54; height:20px; justify-content: center;">
            <p style="color:white; font-size:8px;text-align:center; padding-top:20%">{{loop.UnreadMsgQun}}</p>
          </div>
        </ion-avatar>
        <h2 (click)="GotoDetails(loop)">{{loop.groupname}}</h2>
        <p (click)="GotoDetails(loop)">
          <span>
            <ion-icon *ngIf="loop.lastmessage == 'Send'" name="checkmark"></ion-icon>
            <ion-icon *ngIf="loop.lastmessage == 'Recieved'" name="done-all"></ion-icon>
            <ion-icon *ngIf="loop.lastmessage == 'Read'" style="color:blue" name="done-all"></ion-icon>
          </span>{{loop.lastmessage}}</p>
      </ion-item>
 -->

    </ion-item-sliding>
  </ion-list>


  <ion-fab right bottom>
    <button (click)="NewChat()" ion-fab color="secondary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>