<!--
  Generated template for the FoundationAdminModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>foundation-AdminModal</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content
  style="border-radius: 10px; width: 80%;height: 80%; margin-top: 10%; margin-left:10%; margin-right:10%;padding: 10px;box-shadow: 5px 10px 8px #888888;">

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-icon (click)="CloseModal()" style="float: right; margin-right: 15px; font-size: 25px; margin-top: -3%"
          ios="ios-close" md="ios-close-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-9>

        <img src="{{this.AdminData.pic}}" width="100%" />
        <h3>{{this.AdminData.name}}</h3>
        City
        <h5>{{this.AdminData.city}}</h5>
        Area
        <h5>{{this.AdminData.area}}</h5>
        Village
        <h5>{{this.AdminData.village}}</h5>

        <h5>{{this.AdminData.phone}}</h5>

      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>