<!--
  Generated template for the WebsitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Website</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <iframe height="100%" width="100%" [src]="my_url">
  </iframe>
  <!-- <iframe id="MyIFrame" height="100%" width="100%" >
  </iframe>
  <script>
   
    var iframeURL = 'https://www.rajputfoundation.org/';
    // var iframeURL = "https://www.rajputfoundation.org/login.php"
    var iframeID = 'MyIFrame';

    function loadIframe(){
        //pre-authenticate
         
        var req = new XMLHttpRequest();
        req.open("POST",this.iframeURL, false, "wajid", "3wajid"); //use POST to safely send combination
        req.send(null); //here you can pass extra parameters through

        //setiFrame's SRC attribute
        var iFrameWin = document.getElementById(this.iframeID);
        iFrameWin.src = "https://www.rajputfoundation.org/index.php";
    }

    //onload, call loadIframe() function
    loadIframe();   
</script> -->

</ion-content>