<ion-header>
	<!-- <ion-navbar>
			<ion-title>Registration</ion-title>
		</ion-navbar> -->

	<style>
		.error {
			color: rgb(223, 62, 62);
			font-size: 11px;
		}
	</style>


</ion-header>

<ion-content>



	<!-- <input id="file" (change)="onFileChanged($event)" type="file" #file style="display: none"> -->
	<div>
		<img (click)="selectPicture()"
			style=" width: 30%; margin-top:5%;  display: block; margin-left: auto; margin-right: auto;"
			src="{{image}}" />
	</div>
	<ion-item no-lines id="Image" >
		<div class="error" style="text-align: center">
			Please add your image
		</div>
	</ion-item>

	<ion-list>

		<!-- <form novalidate (ngSubmit)="Register()" [formGroup]="signupform"> -->

		<ion-item id="Email" style="background: none">
			<ion-label style="text-align: left">Email or Name</ion-label>
			<ion-input 
				style=" text-align: right; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
				[(ngModel)]="ObjReg.Email" type="email"></ion-input>

			<!-- <input style=" text-align: right; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
				[(ngModel)]="ObjReg.Email" type="email" required> -->

		</ion-item>
		<ion-item no-lines id="Email2" style="display: none">
			<div class="error">
				Please input your email or usename
			</div>
		</ion-item>
		<div style="width: 80%; float: left">
			<ion-item style="background: none">
				<ion-label style="text-align: left">Password</ion-label>
				<ion-input style="text-align: right; width: 70%" 
					[(ngModel)]="ObjReg.Password" [type]="PasswordType">
				</ion-input>
			</ion-item>
			<ion-item no-lines id="Password" style="display: none">
				<div class="error">
					Password must be longer than 6 digits
				</div>
			</ion-item>
		</div>

		<div style="width: 20%; float: left">
			<ion-item no-lines style="background: none">
				<ion-icon name="eye" style="color:grey" (click)="ShowPassword()"></ion-icon>
			</ion-item>
		</div>


		<div style="width: 80%; float: left">
			<ion-item style="background: none">
				<ion-label style="text-align: left">Confirm Password</ion-label>
				<ion-input  style="text-align: right;"
					[(ngModel)]="ObjReg.ConfirmPassword" [type]="PasswordTypeConfirm">
				</ion-input>
			</ion-item>
			<ion-item no-lines id="ConfirmPassword" style="display: none">
				<div class="error">
					Password does not match
				</div>
			</ion-item>
		</div>

		<div style="width: 20%; float: left">
			<ion-item no-lines style="background: none">
				<ion-icon name="eye" style="color:grey" (click)="ShowPasswordConfirm()"></ion-icon>
			</ion-item>
		</div>


		<!-- <ion-item style="background: none">
			<ion-label style="text-align: left">Confirm Password</ion-label>
			<ion-input style="text-align: right;" [(ngModel)]="ObjReg.ConfirmPassword" type="password"></ion-input>
		</ion-item> -->

		<ion-item id="Name" style="background: none">
			<ion-label style="text-align: left">Name</ion-label>
			<ion-input style="text-align: right;" [(ngModel)]="ObjReg.Name" type="text">
			</ion-input>


		</ion-item>

		<ion-item no-lines id="Name2" style="display: none">
			<div class="error">
				Please Enter Name
			</div>
		</ion-item>

		<ion-item id="Father" style="background: none">
			<ion-label style="text-align: left">Father Name</ion-label>
			<ion-input style="text-align: right;"  [(ngModel)]="ObjReg.FatherName"
				type="text"></ion-input>
		</ion-item>

		<ion-item no-lines id="Father2" style="display: none">
			<div class="error">
				Please Enter Father Name
			</div>
		</ion-item>

		<ion-item id="Gender" style="background: none">
			<ion-label>Gender</ion-label>
			<ion-select [(ngModel)]="ObjReg.Gender" >
				<ion-option value="Male">Male</ion-option>
				<ion-option value="Female">Female</ion-option>
			</ion-select>
		</ion-item>
		<ion-item no-lines id="Gender2" style="display: none">
			<div class="error">
				Please Enter Gender
			</div>
		</ion-item>

		<ion-item id="Date" *ngIf="isEdit == false" style="background: none">
			<ion-label>Birth Date</ion-label>
			<ion-datetime style="text-align: right;" displayFormat="MMM DD YYYY"
				[(ngModel)]="ObjReg.DOB">
			</ion-datetime>
		</ion-item>

		<ion-item no-lines id="DOB2" style="display: none">
			<div class="error">
				Please Enter Date of Birth
			</div>
		</ion-item>

		<ion-item style="background: none" id="Country">
			<ion-label style="text-align: left">Country</ion-label>
			<!-- (ngModelChange)="ChangeType()" -->
			<ion-select [(ngModel)]="ObjReg.Country" >
				<ion-option *ngFor="let loop of this.ObjHelper.AllCountry" [value]="loop.printable_name">
					{{loop.printable_name}}</ion-option>
			</ion-select>
			<!-- <ion-label style="text-align: left">Village</ion-label>
		<ion-input [(ngModel)]="ObjReg.Village" type="text"></ion-input> -->
		</ion-item>

		<ion-item no-lines id="Country2" style="display: none">
			<div class="error">
				Please Enter Country
			</div>
		</ion-item>

		<ion-item style="background: none" *ngIf="ObjReg.Country == 'Pakistan'" id="State">
			<ion-label style="text-align: left">State</ion-label>
			<!-- (ngModelChange)="ChangeType()" -->
			<ion-select [(ngModel)]="ObjReg.State" >
				<ion-option *ngFor="let loop of this.StatesOfPakista" [value]="loop">{{loop}}
				</ion-option>
			</ion-select>
			<!-- <ion-label style="text-align: left">Village</ion-label>
		<ion-input [(ngModel)]="ObjReg.Village" type="text"></ion-input> -->
		</ion-item>

		<ion-item no-lines id="State2" style="display: none">
			<div class="error">
				Please Enter State
			</div>
		</ion-item>

		<ion-item style="background: none" *ngIf="ObjReg.State != ''" id="City">
			<ion-label style="text-align: left">City</ion-label>
			<!-- (ngModelChange)="ChangeType()" -->
			<ion-select [(ngModel)]="ObjReg.City" >
				<ion-option *ngFor="let loop of this.ObjHelper.AllCities" [value]="loop.city_name">
					{{loop.city_name}}
				</ion-option>
				<ion-option value="Other">Other
				</ion-option>
			</ion-select>
			<!-- <ion-label style="text-align: left">Village</ion-label>
		<ion-input [(ngModel)]="ObjReg.Village" type="text"></ion-input> -->
		</ion-item>

		<ion-item no-lines id="City3" style="display: none">
			<div class="error">
				Please Enter City
			</div>
		</ion-item>

		<ion-item style="background: none" *ngIf="ObjReg.City == 'Other'" id="City2">
			<ion-label style="text-align: left">Other City</ion-label>
			<ion-input [(ngModel)]="OtherCity" style="text-align: right;" type="text">
			</ion-input>
		</ion-item>


		<ion-item id="Area" style="background: none">
			<ion-label style="text-align: left">Area</ion-label>
			<ion-input [(ngModel)]="ObjReg.Area" style="text-align: right;" type="text" >
			</ion-input>
		</ion-item>

		<ion-item no-lines id="Area2" style="display: none">
			<div class="error">
				Please Enter Area
			</div>
		</ion-item>

		<ion-item id="Village" style="background: none">
			<ion-label style="text-align: left">Village</ion-label>
			<!-- (ngModelChange)="ChangeType()" -->
			<ion-select [(ngModel)]="ObjReg.Village" >
				<ion-option *ngFor="let loop of this.ObjHelper.AllVilages" [value]="loop.vil_name">{{loop.vil_name}}
				</ion-option>
				<ion-option value="Other">Other
				</ion-option>
			</ion-select>
			<!-- <ion-label style="text-align: left">Village</ion-label>
				<ion-input [(ngModel)]="ObjReg.Village" type="text"></ion-input> -->
		</ion-item>

		<ion-item no-lines id="Village3" style="display: none">
			<div class="error">
				Please Enter Village
			</div>
		</ion-item>

		<ion-item style="background: none" *ngIf="ObjReg.Village == 'Other'" id="Village2">
			<ion-label style="text-align: left">Other Village</ion-label>
			<ion-input [(ngModel)]="OtherVillage" style="text-align: right;"  type="text">
			</ion-input>
		</ion-item>

		<ion-item id="Phone" style="background: none">
			<ion-label style="text-align: left">Phone Number</ion-label>
			<ion-input [(ngModel)]="ObjReg.Phone" style="text-align: right;"  type="number">
			</ion-input>
		</ion-item>

		<ion-item no-lines id="Phone2" style="display: none">
			<div class="error">
				Please Enter Phone No.
			</div>
		</ion-item>

		<ion-item id="Profession" style="background: none">
			<ion-label style="text-align: left">Profession</ion-label>
			<ion-input [(ngModel)]="ObjReg.Profession" style="text-align: right;" type="text"
				></ion-input>
		</ion-item>

		<ion-item no-lines id="Profession2" style="display: none">
			<div class="error" >
				Please Enter Profession
			</div>
		</ion-item>

		<!-- <ion-item style="background: none">
				<ion-label style="text-align: left">Add Picture</ion-label>
				<button (click)="getImage()" class="BoxColor" ion-button full style="height: 40px">Get Image</button>
	
			</ion-item> -->

		<ion-item style="background: none">
			<button class="BoxColor" (click)="Register()" ion-button full style="height: 40px">{{btnName}}</button>
		</ion-item>
		<!-- </form> -->
	</ion-list>

</ion-content>