
<!-- <ion-header>

</ion-header>
e

<ion-content> -->

 <ion-tabs color="secondary" style="justify-content: center"  selectedIndex="{{tabToShow}}" style="padding: 0px">
  <ion-tab [root]="home" tabTitle="Chat" ></ion-tab>
  <ion-tab [root]="Addtocart" tabTitle="Edit Profile"></ion-tab>
</ion-tabs> 

<!-- </ion-content> -->
