<!--
  Generated template for the FoundationProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">

    <ion-title>Profile Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png')">
  <!-- <div class="profile">
        <div class="wrap">
          <div class="profile-main">
            <div class="profile-pic wthree">
              <img width="40%" src="https://www.rajputfoundation.org/{{ShowUserInfo.pic}}" alt="">
              <h2 style="color:blue">{{ShowUserInfo.name}}</h2>
              <p>{{ShowUserInfo.phone}}</p>
            </div>
            
            <div class="w3ls-touch">
              <div class="social">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> <p>Gender&nbsp; : {{ShowUserInfo.gender}}</p></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> <p>Country : {{ShowUserInfo.country}}</p></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> <p>City&nbsp;&nbsp;&nbsp; : {{ShowUserInfo.city}}</p></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> <p>Email&nbsp;&nbsp; : {{ShowUserInfo.email}}</p></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> <p>Dob&nbsp;&nbsp;&nbsp;&nbsp; : {{ShowUserInfo.dob}}</p></a></li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div> -->


  <div>
    <!-- <img src="https://www.rajputfoundation.org/image/logo2.png" /> -->
    <img src="https://rajputfoundation.org/{{this.ObjReg.pic}}" style=" width: 100%; margin-top:5%; margin-right: 25%;" onerror="this.src = 'https://www.rajputfoundation.org/image/logo2.png'" />
  </div>
  <ion-list>

    <ion-item>
      <ion-label style="text-align:  right">Email</ion-label>
      <ion-input style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" [(ngModel)]="ObjReg.Email"
        type="email"></ion-input>
    </ion-item>

    <!-- <ion-item  >
          <ion-label style="text-align:  right">Password</ion-label>
          <ion-input [(ngModel)]="ObjReg.Password" type="password"></ion-input>
        </ion-item>
    
        <ion-item  >
          <ion-label style="text-align:  right">Confirm Password</ion-label>
          <ion-input [(ngModel)]="ObjReg.ConfirmPassword" type="password"></ion-input>
        </ion-item> -->

    <ion-item>
      <ion-label style="text-align:  right">Name</ion-label>
      <ion-input [(ngModel)]="ObjReg.Name" type="text"></ion-input>
    </ion-item>

    <!-- <ion-item  >
          <ion-label style="text-align:  right">Father Name</ion-label>
          <ion-input [(ngModel)]="ObjReg.FatherName" type="text"></ion-input>
        </ion-item> -->

    <!-- <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="ObjReg.Gender">
        <ion-option value="male">Male</ion-option>
        <ion-option value="female">Female</ion-option>
      </ion-select>
    </ion-item> -->

    <!-- <ion-item  >
          <ion-label>Start Date</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="ObjReg.DOB"></ion-datetime>
        </ion-item> -->


    <ion-item>
      <ion-label style="text-align:  right">Country</ion-label>
      <ion-input [(ngModel)]="ObjReg.Country" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="text-align:  right">Area</ion-label>
      <ion-input [(ngModel)]="ObjReg.Area" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="text-align:  right">Village</ion-label>
      <ion-input [(ngModel)]="ObjReg.Village" type="text"></ion-input>
    </ion-item>

    <!-- <ion-item  >
          <ion-label style="text-align:  right">Phone Number</ion-label>
          <ion-input [(ngModel)]="ObjReg.Phone" type="number"></ion-input>
        </ion-item> -->

    <!-- <ion-item  >
          <ion-label style="text-align:  right">Profession</ion-label>
          <ion-input [(ngModel)]="ObjReg.Profession" type="text"></ion-input>
        </ion-item> -->

    <!-- <ion-item  >
          <ion-label style="text-align:  right">Add Picture</ion-label>
          <button (click)="getImage()" class="BoxColor" ion-button full style="height: 40px">Get Image</button>
    
        </ion-item> -->

    <ion-item style="background: none">
      <button class="BoxColor" (click)="Update()" ion-button full style="height: 40px; border-radius : 20px; background-color: #008a7c"> UPDATE </button>
    </ion-item>

  </ion-list>






</ion-content>