<ion-content id="DvScroll" scrollDownOnLoad="true"
  style="background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png')">

  <div *ngIf="ImagePreview == 0" class="screen-container">
    <div class="chat">
      <div class="chat-container">
        <div class="user-bar">
          <div class="back">
            &nbsp;
            <ion-icon style="margin-top: 3px" (click)="GoBack()" name="arrow-round-back"></ion-icon> &nbsp;
            <!-- <i class="zmdi zmdi-arrow-left"></i> -->
          </div>
          <div class="avatar">
            <img (click)="ImageClick(CurrentUserImage)" src="{{CurrentUserImage}}" style="height:40px;"
              onerror="this.src = 'https://www.rajputfoundation.org/image/logo2.png'">
          </div>
          <div class="name">

            <ion-row>
              <ion-col col-12>
                <span style="margin-top: 2px" *ngIf="!IsActionPresented">{{CurrentUserName}} <br>
                  <span style="font-size: 10px">{{this.UserAllInfo.city}} / {{this.UserAllInfo.village}} /
                    {{this.ChatInfo}}</span>
                </span>
              </ion-col>
            </ion-row>

            <ion-row>
              <!-- <ion-col col-2></ion-col> -->
              <ion-col *ngIf="IsActionPresented" col-3>
                <span>
                  <ion-icon (click)="ForwardClick()" name="redo"></ion-icon>
                </span>
              </ion-col>
              <ion-col *ngIf="IsActionPresented" col-3>
                <span>
                  <ion-icon (click)="DeleteClick()" name="trash"></ion-icon>
                </span>
              </ion-col>
              <ion-col *ngIf="IsActionPresented" col-3>
                <span>
                  <ion-icon (click)="CopyClick()" name="copy"></ion-icon>
                </span>
              </ion-col>
              <ion-col *ngIf="IsActionPresented && SelectedID.length == 1" col-3>
                <span>
                  <ion-icon (click)="ReplyClick()" name="undo"></ion-icon>
                </span>
              </ion-col>

            </ion-row>
            <!-- <span class="status">online</span> -->
          </div>
          <!-- <div class="actions more"> -->


          <!-- <i class="zmdi zmdi-more-vert"> -->
          <!-- <icon name="image"></icon> -->
          <!-- <ion-icon  name="checkmark"></ion-icon> -->
          <!-- </i> -->
          <!-- </div> -->
          <!-- <div class="actions attachment">
            <i class="zmdi zmdi-attachment-alt"></i>
          </div>
          <div class="actions">
            <i class="zmdi zmdi-phone"></i>
          </div> -->
          <div style="float: inherit;font-size: 12px;">
            <!-- <ion-col col-3> -->
            <span *ngIf="!ObjHelper.ChatDetailUserLastSeen.includes('Never') && !ObjHelper.ChatDetailUserLastSeen.includes('Online')"> Last Seen
              {{ObjHelper.ChatDetailUserLastSeen.split(' ')[0] == TodayDate ? 'today at' : ObjHelper.ChatDetailUserLastSeen.split(' ')[0] == YesterDayDate ? 'yesterday at' : ObjHelper.ChatDetailUserLastSeen.split(' ')[0] | date:'MMM dd, yyyy'}} {{ObjHelper.ChatDetailUserLastSeen.split(' ')[1]}} {{ObjHelper.ChatDetailUserLastSeen.split(' ')[2]}}
            </span>

            <span *ngIf="ObjHelper.ChatDetailUserLastSeen.includes('Never') || ObjHelper.ChatDetailUserLastSeen.includes('Online')">
               <!-- Last Seen -->
              {{ObjHelper.ChatDetailUserLastSeen}}
            </span>
            <!-- </ion-col> -->
          </div>
        </div>
        <div class="conversation">

          <div class="conversation-container" #scrollMe [scrollTop]="scrollMe.scrollHeight" style="overflow-y: scroll;"
            (click)="ConversationDivClick()">

            <!-- <div> -->
            <!--  -->
            <!-- Our Chat Work -->
            <div *ngFor="let items of ChatMeg " style="overflow: inherit">
              <p
                style="width: 100px;background-color: #E1F2FB;text-align: center;margin-left: auto;margin-right: auto;color:black">
                <!-- {{items.MsgDate | date:'MMM dd, yyyy'}}  -->
                {{items.MsgDate == TodayDate ? 'Today' : items.MsgDate == YesterDayDate ? 'Yesterday' : items.MsgDate | date:'MMM dd, yyyy'
                }}
              </p>

              <div id="ScrollToBottom" *ngFor="let loop of items.Msgs ; let i = index">
                <!-- style="padding-top:10px" -->
                <ng-container *ngIf="loop.userid == ObjHelper.LoggedInUserID">


                  <!-- <div style="float: left;width: 100%;background-color: #E1F2FB;margin: 8px;">
                    <p style="float: left;width: 100%;background-color: #E1F2FB;margin-top: 2px">Reply Message Here</p> -->
                  <div class="message sent" id="S{{loop.key}}" (press)="presentActionSheet(loop,loop.key,'S')"
                    (click)="SelectMsgClick(loop,loop.key,'S')" style="z-index: 10 !important;">
                    <!-- Username -->
                    <!-- <span style="color: blue">{{loop.username}} -->
                    <!-- <br>
                    </span> -->
                    <!-- New -->
                    <div style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;"
                      *ngIf="loop.replymessageid.split(':')[0] != 'https' && loop.isreply == 1">{{loop.replymessageid}}
                    </div>

                    <div
                      *ngIf="loop.replymessageid.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                      style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                      <img alt="images will be display when you connect with Internet Thankyou"
                        (click)="ImageClick(loop.replymessageid)" src="{{loop.replymessageid}}" width="20%"
                        style="align-content:center; margin-left: auto; margin-right: auto" />
                    </div>

                    <div
                      *ngIf="loop.replymessageid.split('audios')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                      style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                      <img alt="images will be display when you connect with Internet Thankyou"
                        (click)="ImageClick(loop.replymessageid)" src="assets/imgs/audio.png" width="20%"
                        style="align-content:center; margin-left: auto; margin-right: auto" />
                    </div>

                    <div
                      *ngIf="loop.replymessageid.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                      style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                      <img alt="images will be display when you connect with Internet Thankyou"
                        (click)="ImageClick(loop.replymessageid)" src="assets/imgs/video.png" width="20%"
                        style="align-content:center; margin-left: auto; margin-right: auto" />
                    </div>

                    <!-- New -->
                    <span *ngIf="loop.message.split(':')[0] != 'https'">{{loop.message}}</span>

                    <!-- Video wala kaam  -->
                    <video
                      *ngIf="loop.message.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                      controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
                      class="videoPlayer">
                      <source src="{{loop.message}}" type="video/mp4" />
                    </video>



                    <audio controlsList="nodownload"
                      *ngIf="loop.message.split('audios')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                      controls>
                      <source src="{{loop.message}}" type="audio/ogg">
                      <source src="{{loop.message}}" type="audio/mpeg">
                      <source src="{{loop.message}}" type="audio/webm">
                      <source src="{{loop.message}}" type="audio/wav">
                      <source src="{{loop.message}}" type="audio/amr">
                    </audio>

                    <!-- autoplay="autoplay" -->
                    <img alt="images will be display when you connect with Internet Thankyou"
                      (click)="ImageClick(loop.message)"
                      *ngIf="loop.message.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                      src="{{loop.message}}" width="100%"
                      style="align-content:center; margin-left: auto; margin-right: auto" />
                    <!-- Video wala kaam  -->

                    <!-- <img alt="images will be display when you connect with Internet Thankyou"
                        (click)="ImageClick(loop.image)" *ngIf="loop.message.split(':')[0] == 'https'"
                        src="{{loop.message}}" width="100%"
                        style="align-content:center; margin-left: auto; margin-right: auto" /> -->
                    <!-- <br>                 -->
                    <span class="metadata">
                      <span class="time">
                        <!-- {{loop.messagedate.split(' ')[1]  +' '+ loop.messagedate.split(' ')[2] }} -->
                        <!-- {{loop.messagedate.split(' ')[1].split(':')[0] +':'+loop.messagedate.split(' ')[1].split(':')[1]}} -->
                        {{loop.messagedate.split(' ')[1].split(':')[0] +':'+loop.messagedate.split(' ')[1].split(':')[1] }}
                        <span
                          *ngIf="loop.messagedate.split(' ')[2] != undefined">{{loop.messagedate.split(' ')[2]}}</span>
                      </span>

                      <span class="tick">
                        <ion-icon *ngIf="loop.status == 'Send'" name="checkmark"></ion-icon>
                        <ion-icon *ngIf="loop.status == 'Recieved'" name="done-all"></ion-icon>
                        <ion-icon *ngIf="loop.status == 'Read'" style="color:blue" name="done-all"></ion-icon>
                        <ion-icon style="font-size: 10px" *ngIf="loop.status == 'Pending'" style="color:blue"
                          name="time">
                        </ion-icon>
                      </span>
                    </span>
                  </div>
                  <!-- </div> -->
                </ng-container>
                <!-- {{last ? ScrollToBottom() : ''}} -->
                <ng-container *ngIf="loop.userid != ObjHelper.LoggedInUserID">
                  <div class="message received" id="R{{loop.key}}" (press)="presentActionSheet(loop,loop.key,'R')"
                    (click)="SelectMsgClick(loop,loop.key,'R')" style="z-index: 10 !important">
                    <!-- <button (click)="presentActionSheet(loop)"> -->
                    <!-- <ng-container (click)="presentActionSheet(loop)"> -->

                    <!-- Username -->
                    <!-- <span style="color: blue">{{loop.username}}
                      <br>
                    </span> -->
                    <!-- </button> -->
                    <span *ngIf="loop.message.split(':')[0] != 'https'">{{loop.message}}</span>


                    <!-- Video wala kaam  -->
                    <video width="50%"
                      *ngIf="loop.message.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                      controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
                      class="videoPlayer">
                      <source src="{{loop.message}}" type="video/mp4" />
                    </video>
                    <audio controlsList="nodownload"
                      *ngIf="loop.message.split('audios')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                      controls>
                      <source src="{{loop.message}}" type="audio/ogg">
                      <source src="{{loop.message}}" type="audio/mpeg">
                      <source src="{{loop.message}}" type="audio/webm">
                      <source src="{{loop.message}}" type="audio/wav">
                      <source src="{{loop.message}}" type="audio/amr">

                    </audio>

                    <!-- autoplay="autoplay" -->
                    <img alt="images will be display when you connect with Internet Thankyou"
                      (click)="ImageClick(loop.message)"
                      *ngIf="loop.message.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                      src="{{loop.message}}" width="100%"
                      style="align-content:center; margin-left: auto; margin-right: auto" />
                    <!-- Video wala kaam  -->


                    <!-- <img alt="images will be display when you connect with Internet" (click)="ImageClick(loop.image)"
                      *ngIf="loop.message.split(':')[0] == 'https'" src="{{loop.message}}" width="100%"
                      style="align-content:center; margin-left: auto; margin-right: auto" /> -->
                    <span class="metadata">
                      <span class="time">
                        <!-- {{loop.messagedate.split(' ')[1]  +' '+ loop.messagedate.split(' ')[2] }} -->
                        <!-- {{loop.messagedate.split(' ')[1].split(':')[0] +':'+loop.messagedate.split(' ')[1].split(':')[1] }} -->
                        {{loop.messagedate.split(' ')[1].split(':')[0] +':'+loop.messagedate.split(' ')[1].split(':')[1] +' '+ loop.messagedate.split(' ')[2] }}

                      </span>
                    </span>
                    <!-- </ng-container> -->
                  </div>
                </ng-container>
              </div>
            </div>
            <!-- Our Chat Work -->
            <!-- </div> -->
            <!-- <h4>Image Preview</h4>
            <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" /> -->


          </div>

          <form class="conversation-compose">
            <!-- Emoji -->
            <!-- <div class="emoji">
              <ion-icon item-start (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top'" style="padding-left: 4px;"
                (emojiPickerSelect)="handleSelection($event)" name="happy"></ion-icon>
            </div> -->
            <div class="emoji">
              <ion-icon name="mic"></ion-icon>
            </div>
            <label class="animated bounce" *ngIf="this.ObjHelper.isReply == 1 && IsActionPresented"
              style="width:80%; margin-left: 2%; margin-top:-15%; background-color: lightgray; height: 40px;position: absolute; border-radius : 11px; opacity : 1.7; padding: 10px">{{this.ObjHelper.isReplyText}}</label>
            <!-- <input [(ngModel)]="MessageText" class="input-msg" name="input" placeholder="Type a message"
              autocomplete="off" autofocus /> -->
            <textarea style="height: 100%; width: 100%" [(ngModel)]="MessageText" (ngModelChange)="IncreaseRows($event)"
              class="input-msg" name="input" placeholder="Type a message" autocomplete="off" autofocus rows="5"
              cols="10" wrap="soft"> </textarea>

            <div class="photo">
              <ion-icon item-end name="camera" style="position: absolute" (click)="takePicture()"
                style="margin-top: 30%;padding-right: 4px;">
              </ion-icon>
            </div>
            <div class="photo">
              <!-- <input id="file" (change)="onFileChanged($event)" type="file" #file style="display: none"> -->
              <ion-icon style="margin-top: 30%;padding-right: 8px;" item-start (click)="selectPicture()" name="images">
              </ion-icon>
            </div>
            <button (click)="SendMsg()" class="send">
              <div class="circle">
                <!-- <i class="zmdi zmdi-mail-send"></i> -->
                <ion-icon name="send"></ion-icon>
              </div>
            </button>

            <!-- For testing -->
            <!-- <ion-textarea [(ngModel)]="emojitext" name="SeeThisIsName"></ion-textarea>

            <button ion-button clear icon-only (click)="toggled = !toggled" [(emojiPickerIf)]="toggled"
              [emojiPickerDirection]="'top'" (emojiPickerSelect)="handleSelection($event)">
              
            </button> -->
          </form>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="ImagePreview == 1">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <video width="50%" style="margin-left: 25%"
            *ngIf="ImagePreviewVar.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
            controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
            <source src="{{ImagePreviewVar}}" type="video/mp4" />
          </video>
          <img alt="images will be display when you connect with Internet Thankyou"
            (click)="ImageClick(ImagePreviewVar)"
            *ngIf="ImagePreviewVar.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
            src="{{ImagePreviewVar}}" width="50%" style="align-content:center; margin-left: 25%; margin-right: auto" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <button (click)="BackMsg()" class="send">
            <div class="circle">
              <ion-icon name="arrow-round-back"></ion-icon>
            </div>
          </button>
        </ion-col>
        <ion-col col-6>
        </ion-col>
        <ion-col col-3>
          <button (click)="SendMsg()" class="send">
            <div class="circle">
              <ion-icon name="send"></ion-icon>
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>