<!-- <ion-content>
  <div style="width:100%; height:150px; background-color:orange; border-radius: 0px 0px 100px 100px; margin-top:-3.7%">
    <ion-grid>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-10>
          <h1 style="text-align:center; font-family: 'ZCOOL QingKe HuangYou', cursive; color:white">IN OUT Statement</h1>
          <div style="width:100%; border-radius:20px; background-color:white; height:30px; margin-top:20px; opacity:0.5">
            <p style="padding:6px; text-align:center; font-family: 'ZCOOL QingKe HuangYou', cursive; margin-top:-15px">Balance : 5000 Rs.</p>
          </div>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div style="margin-top:-10%; padding-left:9%">

    <div style="width:27%; height:90px; background-color: white; border-radius:5px; box-shadow: 1px 3px 5px #888888; float:left; margin-left:10px">
      <img src="https://firebasestorage.googleapis.com/v0/b/inout-statement.appspot.com/o/assets.png?alt=media&token=c1abf2d9-f2d9-4d6b-8161-60083ed53ad4"
        width="80%" style="margin-left:10%" />
      <p style="font-family: 'ZCOOL QingKe HuangYou', cursive; color:black; margin-top:-10%; text-align:center; font-size:16px">Add Asset</p>
    </div>

    <div style="width:27%; height:90px; background-color: white; border-radius:5px; box-shadow: 1px 3px 5px #888888; float:left; margin-left:10px">
      <img src="https://firebasestorage.googleapis.com/v0/b/inout-statement.appspot.com/o/Legder.png?alt=media&token=f905cb14-6e24-4f5f-a949-5ffe3704503d"
        width="80%" style="margin-left:11%" />
      <p style="font-family: 'ZCOOL QingKe HuangYou', cursive; color:black; margin-top:-10%; text-align:center; font-size:16px">Ledger</p>
    </div>

    <div style="width:27%; height:90px; background-color: white; border-radius:5px; box-shadow: 1px 3px 5px #888888; float:left; margin-left:10px">
      <img src="https://firebasestorage.googleapis.com/v0/b/inout-statement.appspot.com/o/user.png?alt=media&token=df4b13bf-e5d8-481b-8e96-1a838438a631"
        width="80%" style="margin-left:11%" />
      <p style="font-family: 'ZCOOL QingKe HuangYou', cursive; color:black; margin-top:-10%; text-align:center; font-size:16px">Join User</p>
    </div>

  </div>



  <ion-grid padding>
    <ion-row>

      <ion-col col-12>
        
        <div style="margin-left:10%">
          <img src="https://image.freepik.com/free-vector/purple-background-with-goals-word_52683-146.jpg" width="90%" height="130px"
            style="border-radius:10px" />
        </div>


        
        <div style="height:80px; box-shadow: 1px 3px 5px #888888; margin-top:5%; border-radius:5px; font-family: 'ZCOOL QingKe HuangYou', cursive; color:black; padding-left:2%;">
          <h2 style="font-size:20px">Account Name &nbsp;
            <ion-icon style="color:orange" name="arrow-dropup"></ion-icon>
          </h2>
          <p style="margin-top:-2%">Deatil About Last Expense</p>
          <p style="text-align-last:right; margin-right:5%">150 Rs.</p>
        </div>



        
        <div style="height:80px; box-shadow: 1px 3px 5px #888888; margin-top:5%; border-radius:5px; font-family: 'ZCOOL QingKe HuangYou', cursive; color:black; padding-left:2%;">
          <h2 style="font-size:20px">Account Name &nbsp;
            <ion-icon style="color:red" name="arrow-dropdown"></ion-icon>
          </h2>
          <p style="margin-top:-2%">Deatil About Last Expense</p>
          <p style="text-align-last:right; margin-right:5%">250 Rs.</p>
        </div>



        
        <div style="height:80px; box-shadow: 1px 3px 5px #888888; margin-top:5%; border-radius:5px; font-family: 'ZCOOL QingKe HuangYou', cursive; color:black; padding-left:2%;">
          <h2 style="font-size:20px">Account Name &nbsp;
            <ion-icon style="color:red" name="arrow-dropdown"></ion-icon>
          </h2>
          <p style="margin-top:-2%">Deatil About Last Expense</p>
          <p style="text-align-last:right; margin-right:5%">250 Rs.</p>
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-fab right bottom>
    <button ion-fab style="color:white; background-color:orange"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button style="color:white; background-color:orange" ion-fab><ion-icon name="albums"></ion-icon></button>

      <button style="color:white; background-color:orange" ion-fab><ion-icon name="add-circle"></ion-icon></button>

      <button style="color:white; background-color:orange" ion-fab><ion-icon name="remove"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content> -->


<p style="text-align: center;font-size: 16px" (click)="ShowGroupUsers()" >Group Info </p>
<p style="text-align: center;font-size: 16px" (click)="BtnLogoutClick()" >Clear Chat </p>
<p style="text-align: center;font-size: 16px" (click)="MuteNoti()" >Mute Notification </p>