<!--
  Generated template for the FoundationNewChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="GroupUsers.length > 0">
  <!-- *ngIf="GroupUsers.length == 0" -->
  <ion-navbar color="secondary">
    <ion-title>Participants</ion-title>
  </ion-navbar>
</ion-header>

<ion-header *ngIf="GroupUsers.length  == 0">
  <!-- *ngIf="GroupUsers.length == 0" -->
  <ion-navbar color="secondary">
    <ion-title>Add People</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list no-lines>
    <!--  -->
    <ng-container *ngIf="GroupUsers.length == 0">
      <p style="color:green;font-weight: bold;padding-left: 2%;">{{items.length}} Users </p>

      <ion-item *ngFor="let item of items">
        <ion-avatar *ngIf="item.userid != ObjHelper.LoggedInUserID" item-start>
          <img
            [src]="item.image.includes('https://firebasestorage.googleapis.com') ? item.image : 'https://rajputfoundation.org/'+item.image"
            style="height: 40px;width: 40px;border-radius: 50%;"
            onerror="this.src = 'https://www.rajputfoundation.org/image/logo2.png'"
            (click)="OpenPhotoViewer(item.image)" />
          <!-- onerror="this.src = 'https://www.rajputfoundation.org/image/logo2.png'" -->
          <!-- <img src="green.jpg" class="status" /> -->
          <span class="dot" style="  height: 25px;
          width: 25px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;"></span>
          <!-- <div class="status" style="background-color: green; position: absolute;
          right: 10px;
          bottom: 10px;"></div> -->
        </ion-avatar>

        <ion-avatar *ngIf="item.userid != ObjHelper.LoggedInUserID" item-start (click)="StartChat(item.userid)">
          <h2>
            <!-- {{ item.username  }} -->
            {{ item.name }}
            <br />
            {{item.city}} /{{item.village}}/{{item.userid}}
          </h2>
        </ion-avatar>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="GroupUsers.length > 0">
      <p style="color:green;font-weight: bold;padding-left: 2%;"> {{GroupUsers.length}} Participants </p>
      <ion-item *ngFor="let item of items">
        <ion-avatar item-start>
          <img
            [src]="item.pic.includes('https://firebasestorage.googleapis.com') ? item.pic : 'https://rajputfoundation.org/'+item.pic"
            style="height: 40px;width: 40px;border-radius: 50%;"
            onerror="this.src = 'https://www.rajputfoundation.org/image/logo2.png'"
            (click)="OpenPhotoViewer(item.pic)" />
          <!-- src="https://rajputfoundation.org/{{item.pic}}" -->
          <!-- onerror="this.src = 'https://www.rajputfoundation.org/image/logo2.png'" -->
        </ion-avatar>

        <ion-avatar item-start (click)="StartChat(item.userid)">
          <h2>
            <!-- {{ forwaredText != undefined ? item.username : item.name }} -->
            {{item.name}}
            <p *ngIf="item.isadmin == '1' && item.userid != 113" style="color: green"> Administrator
              <br />
              {{item.city}} /{{item.village}}/{{item.userid}}
            </p>
            <p *ngIf="item.isadmin == '1' && item.userid == 113" style="color: green"> Admin
              <br />
              {{item.city}} /{{item.village}}/{{item.userid}}
            </p>
            <p *ngIf="item.isadmin != '1'">
              {{item.city}} /{{item.village}}/{{item.userid}}
            </p>

          </h2>
        </ion-avatar>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>