<!--
  Generated template for the FoundationCheckPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title style="text-align: center">Security Check</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <div>
        <img style=" width: 100%; margin-top: 10%;"
          src="assets/imgs/LoginLogo.png" />
      </div>
    <hr>

  <ion-list>

    <ion-item style="background-color: rgb(243, 243, 243); margin-bottom: 10px">
      <ion-label style="text-align: left">Audio Text</ion-label>
      <ion-input style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" [(ngModel)]="AudioText"
        type="text"></ion-input>
    </ion-item>

    <ion-item style="background: none; padding-left:2%; padding-right:2%;">
      <button class="BoxColor" (click)="Save()" ion-button full style="height: 40px;  background-color: #008a7c">SAVE</button>
    </ion-item>

  </ion-list>
</ion-content>