<!--
  Generated template for the FoundationOrgGroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>foundation-ORG-Groups</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-content id="DvScroll" scrollDownOnLoad="true"
  style="background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png')">


  <div *ngIf="ImagePreview == 0" class="screen-container">
    <div class="chat">
      <div class="chat-container">
        <div class="user-bar">
          <div class="back">
            &nbsp;
            <ion-icon (click)="GoBack()" name="arrow-round-back"></ion-icon> &nbsp;
            <!-- <i class="zmdi zmdi-arrow-left"></i> -->

          </div>
          <!-- <div class="avatar">
            <img (click)="GoBack()" src="{{ChatInfo.DP}}" alt="Avatar">
          </div> -->
          <div class="name">
            <!-- <span>{{GroupName}}</span> -->
            <!-- <span class="status">online</span> -->
            <!-- <br /> -->
            <!-- <span *ngFor="let items of CurrentGroupUsers" style="font-size: 13px;">{{items.name}} ,</span> -->


            <ion-row>
              <ion-col col-10 *ngIf="!IsActionPresented">
                <!-- (click)="ShowGroupUsers()" -->

                <span>{{GroupName}}</span>
                <br />

                <span *ngFor="let items of CurrentGroupUsers" style="font-size: 13px;">{{items}} ,</span>
                <!-- <br />
                <span *ngFor="let items of CurrentGroupUsers" style="font-size: 13px;">{{items.name}} ,
                </span> -->


              </ion-col>
            </ion-row>

            <ion-row *ngIf="IsActionPresented">
              <!-- <ion-col col-3></ion-col> -->
              <ion-col *ngIf="IsActionPresented" col-3>
                <span>
                  <ion-icon (click)="ForwardClick()" name="redo"></ion-icon>
                </span>
              </ion-col>
              <ion-col *ngIf="IsActionPresented" col-3>
                <span>
                  <!-- <ion-icon name="checkmark"></ion-icon> -->
                  <ion-icon (click)="DeleteClick()" name="trash"></ion-icon>
                </span>
              </ion-col>
              <ion-col *ngIf="IsActionPresented" col-3>
                <span>
                  <!-- <ion-icon name="checkmark"></ion-icon> -->
                  <ion-icon (click)="CopyClick()" name="copy"></ion-icon>
                </span>
              </ion-col>
              <ion-col *ngIf="IsActionPresented && SelectedID.length == 1" col-3>
                <span>
                  <ion-icon (click)="ReplyClick()" name="undo"></ion-icon>
                </span>
              </ion-col>

            </ion-row>

          </div>
          <div style="margin-top:-40px" class="actions more">
            <div class="actions more">
              <img src="assets/icon/dots.png" (click)="OpenPopOver($event)">
            </div>
          </div>
          <div class="actions attachment">
            <i class="zmdi zmdi-attachment-alt"></i>
          </div>
          <div class="actions">
            <i class="zmdi zmdi-phone"></i>
          </div>
        </div>
        <div class="conversation">
          <div class="conversation-container" #scrollMe [scrollTop]="scrollMe.scrollHeight"
            (click)="ConversationDivClick()">

            <!-- Our Chat Work -->
            <div *ngFor="let items of ChatMeg" style="overflow: inherit">
              <p
                style="width: 100px;background-color: #E1F2FB;text-align: center;margin-left: auto;margin-right: auto;color:black">
                {{items.MsgDate == TodayDate ? 'Today' : items.MsgDate == YesterDayDate ? 'Yesterday' : items.MsgDate | date:'MMM dd, yyyy'
                }}
              </p>
              <div *ngFor="let loop of items.Msgs; let i = index" style="padding-top:10px">

                <div *ngIf="loop.userid == ObjHelper.LoggedInUserID" class="message sent" id="S{{loop.Key}}"
                  style="z-index: 10 !important" (press)="presentActionSheet(loop,loop.Key,'S')"
                  (click)="SelectMsgClick(loop,loop.Key,'S')">
                  <!-- (press)="presentActionSheet(loop,'S'+i)" -->
                  <span style="color: blue">{{loop.username}}
                    <br>
                  </span>


                  <div style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;"
                    *ngIf="loop.replymessageid.split(':')[0] != 'https' && loop.isreply == 1">{{loop.replymessageid}}
                  </div>

                  <div
                    *ngIf="loop.replymessageid.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                    style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                    <img alt="images will be display when you connect with Internet Thankyou"
                      (click)="ImageClick(loop.replymessageid)" src="{{loop.replymessageid}}" width="20%"
                      style="align-content:center; margin-left: auto; margin-right: auto" />
                  </div>

                  <div
                    *ngIf="loop.replymessageid.split('audios')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                    style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                    <img alt="images will be display when you connect with Internet Thankyou"
                      (click)="ImageClick(loop.replymessageid)" src="assets/imgs/audio.png" width="20%"
                      style="align-content:center; margin-left: auto; margin-right: auto" />
                  </div>

                  <div
                    *ngIf="loop.replymessageid.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                    style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                    <img alt="images will be display when you connect with Internet Thankyou"
                      (click)="ImageClick(loop.replymessageid)" src="assets/imgs/video.png" width="20%"
                      style="align-content:center; margin-left: auto; margin-right: auto" />
                  </div>

                  <!-- <span *ngIf="loop.message.split(':')[0] != 'https'  && loop.isreply == 1">{{loop.replymessageid}}</span> -->

                  <span *ngIf="loop.message.split(':')[0] != 'https'">{{loop.message}}</span>
                  <!-- *ngIf="loop.MsgType == 0" -->
                  <video
                    *ngIf="loop.message.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                    controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                    <source src="{{loop.message}}" type="video/mp4" />
                  </video>

                  <audio controlsList="nodownload"
                    *ngIf="loop.message.split('audios')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                    controls>
                    <source src="{{loop.message}}">
                  </audio>


                  <!-- autoplay="autoplay" -->
                  <img
                    *ngIf="loop.message.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                    src="{{loop.message}}" width="100%"
                    style="align-content:center; margin-left: auto; margin-right: auto" />

                  <span class="metadata">
                    <span class="time">{{loop.messagedate.split(' ')[1].split(':')[0] +':'+loop.messagedate.split(' ')[1].split(':')[1] +' '+
                      loop.messagedate.split(' ')[2] }}</span>
                    <span class="tick">
                      <ion-icon *ngIf="loop.status == 'Send'" name="checkmark"></ion-icon>
                      <ion-icon *ngIf="loop.status == 'Recieved'" name="done-all"></ion-icon>
                      <ion-icon *ngIf="loop.status == 'Read'" style="color:blue" name="done-all"></ion-icon>
                      <ion-icon *ngIf="loop.status == 'Pending'" style="font-size: 10px" name="time"></ion-icon>
                    </span>
                  </span>
                </div>

                <div *ngIf="loop.userid != ObjHelper.LoggedInUserID" class="message received" id="R{{loop.Key}}"
                  style="z-index: 10 !important" (press)="presentActionSheet(loop,loop.Key,'R')"
                  (click)="SelectMsgClick(loop,loop.Key,'R')">
                  <!-- (press)="presentActionSheet(loop,'R'+i)" -->
                  <ng-container>
                    <span style="color: blue">{{loop.username}}
                      <br>
                    </span>


                    <div style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;"
                      *ngIf="loop.replymessageid.split(':')[0] != 'https' && loop.isreply == 1">{{loop.replymessageid}}
                    </div>

                    <div
                      *ngIf="loop.replymessageid.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                      style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                      <img alt="images will be display when you connect with Internet Thankyou"
                        (click)="ImageClick(loop.replymessageid)" src="{{loop.replymessageid}}" width="20%"
                        style="align-content:center; margin-left: auto; margin-right: auto" />
                    </div>

                    <div
                      *ngIf="loop.replymessageid.split('audios')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                      style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                      <img alt="images will be display when you connect with Internet Thankyou"
                        (click)="ImageClick(loop.replymessageid)" src="assets/imgs/audio.png" width="20%"
                        style="align-content:center; margin-left: auto; margin-right: auto" />
                    </div>

                    <div
                      *ngIf="loop.replymessageid.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                      style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                      <img alt="images will be display when you connect with Internet Thankyou"
                        (click)="ImageClick(loop.replymessageid)" src="assets/imgs/video.png" width="20%"
                        style="align-content:center; margin-left: auto; margin-right: auto" />
                    </div>
                    <!-- <span *ngIf="loop.replymessageid.split(':')[0] != 'https' && loop.isreply == 1">{{loop.message}}</span> -->

                    <span *ngIf="loop.message.split(':')[0] != 'https'">{{loop.message}}</span>
                    <!-- (click)="ImageClick(loop.image)" -->

                    <video style="width: 100%;"
                      *ngIf="loop.message.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                      controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
                      class="videoPlayer">
                      <!-- autoplay="autoplay" -->
                      <source src="{{loop.message}}" type="video/mp4" />
                    </video>

                    <audio controlsList="nodownload"
                      *ngIf="loop.message.split('audios')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                      controls>
                      <source src="{{loop.message}}">
                    </audio>


                    <img
                      *ngIf="loop.message.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                      src="{{loop.message}}" width="100%"
                      style="align-content:center; margin-left: auto; margin-right: auto" />
                    <br>
                    <span class="metadata">
                      <span class="time">
                        {{loop.messagedate.split(' ')[1].split(':')[0] +':'+loop.messagedate.split(' ')[1].split(':')[1] +' '+ loop.messagedate.split('
                        ')[2] }}
                      </span>
                    </span>
                  </ng-container>
                </div>

              </div>
            </div>
            <!-- Our Chat Work -->

          </div>
          <form class="conversation-compose" *ngIf="!isDisable">
            <div class="emoji">
              <ion-icon (click)="OpenMic()" name="mic"></ion-icon>
              <!-- <ion-icon (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top'" style="padding-left: 4px;"
                (emojiPickerSelect)="handleSelection($event)" name="happy"></ion-icon> -->
              <!-- <svg (click)="file.click()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="smiley" x="3147" y="3209">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.153 11.603c.795 0 1.44-.88 1.44-1.962s-.645-1.96-1.44-1.96c-.795 0-1.44.88-1.44 1.96s.645 1.965 1.44 1.965zM5.95 12.965c-.027-.307-.132 5.218 6.062 5.55 6.066-.25 6.066-5.55 6.066-5.55-6.078 1.416-12.13 0-12.13 0zm11.362 1.108s-.67 1.96-5.05 1.96c-3.506 0-5.39-1.165-5.608-1.96 0 0 5.912 1.055 10.658 0zM11.804 1.01C5.61 1.01.978 6.034.978 12.23s4.826 10.76 11.02 10.76S23.02 18.424 23.02 12.23c0-6.197-5.02-11.22-11.216-11.22zM12 21.355c-5.273 0-9.38-3.886-9.38-9.16 0-5.272 3.94-9.547 9.214-9.547a9.548 9.548 0 0 1 9.548 9.548c0 5.272-4.11 9.16-9.382 9.16zm3.108-9.75c.795 0 1.44-.88 1.44-1.963s-.645-1.96-1.44-1.96c-.795 0-1.44.878-1.44 1.96s.645 1.963 1.44 1.963z"
                  fill="#7d8489" />
              </svg> -->
            </div>
            <label class="animated bounce" *ngIf="this.ObjHelper.isReply == 1 && IsActionPresented"
              style="width:80%; margin-left: 2%; margin-top:-15%; background-color: lightgray; height: 40px;position: absolute; border-radius : 11px; opacity : 1.7; padding: 10px">{{this.ObjHelper.isReplyText}}</label>
            <!-- <input [(ngModel)]="InputMessage" class="input-msg" name="input" placeholder="Type a message" autocomplete="off" autofocus
            /> -->
            <textarea style="height: 100%; width: 100%" [(ngModel)]="InputMessage" class="input-msg" name="input"
              placeholder="Type a message" autocomplete="off" autofocus rows="4" cols="10" wrap="soft"> </textarea>

            <div class="photo">
              <ion-icon item-end name="camera" (click)="takePicture()" style="padding-left:4px; margin-top: 30%">
              </ion-icon>
            </div>
            <div class="photo">
              <!-- <input id="file" (change)="onFileChanged($event)" type="file" #file style="display: none"> -->
              <ion-icon style="margin-top: 30%" (click)="selectPicture()" name="images"></ion-icon>
            </div>
            <button (click)="SendClick()" class="send">
              <div class="circle">
                <ion-icon name="send"></ion-icon>
              </div>
            </button>
          </form>
          <label *ngIf="isDisable"> You are not allowed to send any text message </label>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="ImagePreview == 1">
    <ion-grid>


      <ion-row>
        <ion-col col-12>
          <video width="50%" style="margin-left:25%"
            *ngIf="ImagePreviewVar.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
            controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
            <source src="{{ImagePreviewVar}}" type="video/mp4" />
          </video>


          <!-- autoplay="autoplay" -->
          <img alt="images will be display when you connect with Internet Thankyou"
            (click)="ImageClick(ImagePreviewVar)"
            *ngIf="ImagePreviewVar.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
            src="{{ImagePreviewVar}}" width="50%" style="align-content:center; margin-left: 25%; margin-right: auto" />

          <!-- <img src="{{ImagePreviewVar}}" width="100%" /> -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-3>
          <button (click)="BackMsg()" class="send">
            <div class="circle">
              <!-- <i class="zmdi zmdi-mail-send"></i> -->
              <ion-icon name="arrow-round-back"></ion-icon>
            </div>
          </button>
        </ion-col>
        <ion-col col-6>

        </ion-col>
        <ion-col col-3>
          <button (click)="SendMsgImage()" class="send">
            <div class="circle">
              <!-- <i class="zmdi zmdi-mail-send"></i> -->
              <ion-icon name="send"></ion-icon>
            </div>
          </button>
        </ion-col>
      </ion-row>


    </ion-grid>
  </div>


</ion-content>