<!--
  Generated template for the FoundationChatPageDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar color="secondary">
    <ion-row style="margin-left: -5%; margin-top:1%">
      <ion-col col-2>
        <img *ngIf="ChatInfo != null" style="border-radius:50%" width="100%" src="{{ChatInfo.DP}}" />
      </ion-col>
      <ion-col style="margin-top: 3%; margin-left:-4%" col-10>
        <ion-title *ngIf="ChatInfo != null">
          {{ChatInfo.Name}}
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header> -->


<ion-content id="DvScroll" scrollDownOnLoad="true"
  style="background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png')">


  <div *ngIf="ImagePreview == 0" class="screen-container">
    <div class="chat">
      <div class="chat-container">
        <div class="user-bar">
          <div class="back">
            &nbsp;
            <ion-icon (click)="GoBack()" name="arrow-round-back"></ion-icon> &nbsp;
            <!-- <i class="zmdi zmdi-arrow-left"></i> -->

          </div>
          <!-- <div class="avatar">
            <img (click)="GoBack()" src="{{ChatInfo.DP}}" alt="Avatar">
          </div> -->
          <div class="name">
            <!-- <span>{{GroupName}}</span> -->
            <!-- <span class="status">online</span> -->
            <ion-row>
              <ion-col col-12 (click)="ShowGroupUsers()" *ngIf="!IsActionPresented">
                <!-- <ng-container  > -->
                <span>{{GroupName}}</span>
                <br />
                <span *ngFor="let items of CurrentGroupUsers" style="font-size: 13px;">{{items.name}} ,
                </span>

                <!-- </ng-container> -->
              </ion-col>
            </ion-row>

            <ion-row *ngIf="IsActionPresented">
              <!-- <ion-col col-3></ion-col> -->
              <ion-col *ngIf="IsActionPresented" col-3>
                <span>
                  <ion-icon (click)="ForwardClick()" name="redo"></ion-icon>
                </span>
              </ion-col>
              <ion-col *ngIf="IsActionPresented" col-3>
                <span>
                  <!-- <ion-icon name="checkmark"></ion-icon> -->
                  <ion-icon (click)="DeleteClick()" name="trash"></ion-icon>
                </span>
              </ion-col>
              <ion-col *ngIf="IsActionPresented" col-3>
                <span>
                  <!-- <ion-icon name="checkmark"></ion-icon> -->
                  <ion-icon (click)="CopyClick()" name="copy"></ion-icon>
                </span>
              </ion-col>
              <ion-col *ngIf="IsActionPresented && SelectedID.length == 1" col-3>
                <span>
                  <ion-icon (click)="ReplyClick()" name="undo"></ion-icon>
                </span>
              </ion-col>

            </ion-row>

          </div>
          <div class="actions more">
            <img src="assets/icon/dots.png" (click)="OpenPopOver($event)">
          </div>
          <!-- <div class="actions attachment">
            <i class="zmdi zmdi-attachment-alt"></i>
          </div> -->
          <!-- <div class="actions">
            <i class="zmdi zmdi-phone"></i>
          </div> -->
        </div>
        <div class="conversation">
          <div class="conversation-container" #scrollMe [scrollTop]="scrollMe.scrollHeight"
            (click)="ConversationDivClick()">

            <!-- Our Chat Work -->

            <div *ngFor="let items of ChatMeg" style="overflow: inherit">
              <p
                style="width: 100px;background-color: #E1F2FB;text-align: center;margin-left: auto;margin-right: auto;color:black">
                {{items.MsgDate == TodayDate ? 'Today' : items.MsgDate == YesterDayDate ? 'Yesterday' : items.MsgDate | date:'MMM dd, yyyy'
                }}
              </p>
              <div *ngFor="let loop of items.Msgs;let i = index">
                <!-- Commented by Haroon on 24-6-19  -->
                <!-- style="padding-top:10px" -->
                <div *ngIf="loop.userid == ObjHelper.LoggedInUserID" class="message sent" id="S{{loop.Key}}"
                  style="z-index: 10 !important" (press)="presentActionSheet(loop,loop.Key,'S')"
                  (click)="SelectMsgClick(loop,loop.Key,'S')">
                  <span style="color: blue">{{loop.username}}
                    <br>
                  </span>
                  <!-- NEW -->
                  <!-- <span
                    style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px; margin-bottom: 30px"
                    *ngIf="loop.message.split(':')[0] != 'https' && loop.isreply == 1">{{loop.replymessageid}}</span>
                  <br *ngIf="loop.isreply == 1"> -->
                  <div style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;"
                    *ngIf="loop.replymessageid.split(':')[0] != 'https' && loop.isreply == 1">{{loop.replymessageid}}
                  </div>
                  <!-- NEW -->
                  <!-- *ngIf="loop.MsgType == 0" -->
                  <!-- New -->
                  <div
                    *ngIf="loop.replymessageid.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                    style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                    <img alt="images will be display when you connect with Internet Thankyou"
                      (click)="ImageClick(loop.replymessageid)" src="{{loop.replymessageid}}" width="20%"
                      style="align-content:center; margin-left: auto; margin-right: auto" />
                  </div>

                  <div
                    *ngIf="loop.replymessageid.split('audios')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                    style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                    <img alt="images will be display when you connect with Internet Thankyou (Audio SK)"
                      (click)="ImageClick(loop.replymessageid)" src="assets/imgs/audio.png" width="20%"
                      style="align-content:center; margin-left: auto; margin-right: auto" />
                  </div>

                  <div
                    *ngIf="loop.replymessageid.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                    style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                    <img alt="images will be display when you connect with Internet Thankyou (Vidoes SK)"
                      (click)="ImageClick(loop.replymessageid)" src="assets/imgs/video.png" width="20%"
                      style="align-content:center; margin-left: auto; margin-right: auto" />
                  </div>
                  <!-- <img alt="images will be display when you connect with Internet Thankyou"
                    (click)="ImageClick(loop.image)" *ngIf="loop.message.split(':')[0] == 'https' && loop.isreply == 1"
                    src="{{loop.message}}" width="20%"
                    style="align-content:center; margin-left: auto; margin-right: auto" /> -->
                  <!-- New -->

                  <!-- <span *ngIf="loop.message.split(':')[0] != 'https'  && loop.isreply == 1">{{loop.replymessageid}}</span> -->

                  <span *ngIf="loop.message.split(':')[0] != 'https'">{{loop.message}}</span>


                  <video
                    *ngIf="loop.message.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                    controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                    <source src="{{loop.message}}" type="video/mp4" />
                  </video>
                  <!-- autoplay="autoplay" -->

                  <audio controlsList="nodownload"
                    *ngIf="loop.message.split('audios')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                    controls>
                    <source src="{{loop.message}}">
                  </audio>

                  <img
                    *ngIf="loop.message.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                    (click)="ImageClick(loop.message)" src="{{loop.message}}" width="100%"
                    style="align-content:center; margin-left: auto; margin-right: auto;" />
                  <span class="metadata">
                    <span class="time">
                      <!-- {{loop.messagedate.split('.')[0]}} -->
                      <!-- {{loop.messagedate.split(' ')[1] +' '+ loop.messagedate.split(' ')[2] }} -->

                      {{loop.messagedate.split(' ')[1].split(':')[0] +':'+loop.messagedate.split(' ')[1].split(':')[1] +' '+ loop.messagedate.split('
                      ')[2] }}
                    </span>
                    <span class="tick">
                      <ion-icon *ngIf="loop.status == 'Send'" name="checkmark"></ion-icon>
                      <ion-icon *ngIf="loop.status == 'Recieved'" name="done-all"></ion-icon>
                      <ion-icon *ngIf="loop.status == 'Read'" style="color:blue" name="done-all"></ion-icon>
                      <ion-icon *ngIf="loop.status == 'Pending'" style="font-size: 10px" name="time"></ion-icon>
                    </span>
                  </span>
                </div>

                <div *ngIf="loop.userid != ObjHelper.LoggedInUserID" class="message received" id="R{{loop.Key}}"
                  style="z-index: 10 !important" (press)="presentActionSheet(loop,loop.Key,'R')"
                  (click)="SelectMsgClick(loop,loop.Key,'R')">
                  <ng-container>
                    <span style="color: blue">{{loop.username}}
                      <br>
                    </span>
                    <!-- NEW -->
                    <div style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;"
                      *ngIf="loop.replymessageid.split(':')[0] != 'https' && loop.isreply == 1">{{loop.replymessageid}}
                    </div>
                    <div
                      *ngIf="loop.replymessageid.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                      style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                      <img alt="images will be display when you connect with Internet Thankyou"
                        (click)="ImageClick(loop.replymessageid)" src="{{loop.replymessageid}}" width="20%"
                        style="align-content:center; margin-left: auto; margin-right: auto" />
                    </div>

                    <div
                      *ngIf="loop.replymessageid.split('audios')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                      style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                      <img alt="images will be display when you connect with Internet Thankyou (Audio SK)"
                        (click)="ImageClick(loop.replymessageid)" src="assets/imgs/audio.png" width="20%"
                        style="align-content:center; margin-left: auto; margin-right: auto" />
                    </div>

                    <div
                      *ngIf="loop.replymessageid.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F' && loop.isreply == 1"
                      style="background-color: lightgrey; padding: 4px; width: 100%; border-radius: 5px;">
                      <img alt="images will be display when you connect with Internet Thankyou (Vidoes SK)"
                        (click)="ImageClick(loop.replymessageid)" src="assets/imgs/video.png" width="20%"
                        style="align-content:center; margin-left: auto; margin-right: auto" />
                    </div>
                    <!-- New -->
                    <span *ngIf="loop.message.split(':')[0] != 'https'">{{loop.message}}</span>

                    <video
                      *ngIf="loop.message.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                      controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer"
                      style="width: 100%">
                      <source src="{{loop.message}}" type="video/mp4" />
                    </video>

                    <audio controlsList="nodownload"
                      *ngIf="loop.message.split('audios')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                      controls>
                      <source src="{{loop.message}}">
                    </audio>


                    <img (click)="ImageClick(loop.message)"
                      *ngIf="loop.message.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
                      src="{{loop.message}}" width="100%"
                      style="align-content:center; margin-left: auto; margin-right: auto" />

                    <!-- <br>-->
                    <span class="metadata">
                      <span class="time">
                        <!-- {{loop.messagedate.split('.')[0]}} -->
                        <!-- {{loop.messagedate.split(' ')[1] +' '+ loop.messagedate.split(' ')[2] }} -->
                        {{loop.messagedate.split(' ')[1].split(':')[0] +':'+loop.messagedate.split(' ')[1].split(':')[1] +' '+ loop.messagedate.split('
                        ')[2] }}
                      </span>
                    </span>
                  </ng-container>
                </div>

              </div>

            </div>
            <!-- Our Chat Work -->

          </div>
          <form class="conversation-compose" *ngIf="!isDisable">
            <div class="emoji">
              <ion-icon (click)="OpenMic()" name="mic"></ion-icon>
            </div>
            <label class="animated bounce" *ngIf="this.ObjHelper.isReply == 1 && IsActionPresented"
              style="width:80%; margin-left: 2%; margin-top:-15%; background-color: lightgray; height: 40px;position: absolute; border-radius : 11px; opacity : 1.7; padding: 10px">{{this.ObjHelper.isReplyText}}</label>
            <!-- <input [(ngModel)]="MessageText" class="input-msg" name="input" placeholder="Type a message"
              autocomplete="off" autofocus /> -->
            <textarea style="height: 100%; width: 100%" [(ngModel)]="MessageText" class="input-msg" name="input"
              placeholder="Type a message" autocomplete="off" autofocus rows="4" cols="10" wrap="soft"> </textarea>
            <div class="photo">
              <ion-icon item-end name="camera" (click)="takePicture()" style="margin-top: 30%;padding-right: 4px;">
              </ion-icon>
            </div>
            <div class="photo">
              <!-- <input id="file" (change)="onFileChanged($event)" type="file" #file style="display: none"> -->
              <ion-icon style="margin-top: 30%;padding-right: 8px;" item-start (click)="selectPicture()" name="images">
              </ion-icon>
            </div>
            <button (click)="BtnSendMsgClick()" class="send">
              <div class="circle">
                <!-- <i class="zmdi zmdi-mail-send"></i> -->
                <ion-icon name="send"></ion-icon>
              </div>
            </button>
          </form>
          <label style="text-align: center" *ngIf="isDisable"> You are not allowed to send any text message </label>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="ImagePreview == 1">
    <ion-grid>


      <ion-row>
        <ion-col col-12>
          <video width="50%" style="margin-left:25%"
            *ngIf="ImagePreviewVar.split('vidoes')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
            controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
            <source src="{{ImagePreviewVar}}" type="video/mp4" />
          </video>
          <!-- autoplay="autoplay" -->
          <img alt="images will be display when you connect with Internet Thankyou"
            (click)="ImageClick(ImagePreviewVar)"
            *ngIf="ImagePreviewVar.split('imgs')[0] == 'https://firebasestorage.googleapis.com/v0/b/rajputchat-42dc6.appspot.com/o/photos%2F'"
            src="{{ImagePreviewVar}}" width="50%" style="align-content:center; margin-left: 25%; margin-right: auto" />

          <!-- <img src="{{ImagePreviewVar}}" width="100%" /> -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-3>
          <button (click)="BackMsg()" class="send">
            <div class="circle">
              <!-- <i class="zmdi zmdi-mail-send"></i> -->
              <ion-icon name="arrow-round-back"></ion-icon>
            </div>
          </button>
        </ion-col>
        <ion-col col-6>

        </ion-col>
        <ion-col col-3>
          <button (click)="SendImageconfirm()" class="send">
            <div class="circle">
              <!-- <i class="zmdi zmdi-mail-send"></i> -->
              <ion-icon name="send"></ion-icon>
            </div>
          </button>
        </ion-col>
      </ion-row>


    </ion-grid>
  </div>


</ion-content>


<!-- <ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input style="background-color: white; border-radius:20px" placeholder="Type Message" type="text"></ion-input>
      </ion-col>
      <ion-col col-2>
        <button ion-button color="secondary" style="border-radius: 40%">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->